[package]
name = "common"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
tracing = "0.1"
tokio = { version = "1.48.0", features = ["full"] }
thiserror = "2.0.17"
